FIREBASE_PROJECT_ID=fruitdemonlist
ADMIN_UIDS=comma_separated_admin_uids
ADMIN_EMAILS=comma_separated_admin_emails
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_ENDPOINT=https://e4104b4afa44001c802f7ae4a7108450.r2.cloudflarestorage.com
R2_BUCKET=gdfruitlist
